pkgbase = symfony-cli
	pkgdesc = The Symfony client helps developers create and manage Symfony applications.
	pkgver = 5.8.15
	pkgrel = 6
	url = https://symfony.com/
	install = symfony-cli.install
	arch = x86_64
	license = AGPL3
	makedepends = git
	makedepends = go
	depends = glibc
	provides = symfony-cli
	conflicts = symfony-cli
	source = git+https://github.com/symfony-cli/symfony-cli#tag=v5.8.15
	sha256sums = 6bd0312d8f73f1bbecadda7bd115284e21507140dbb109aa3ea7a7ba4b6539be

pkgname = symfony-cli
